ChangeLog.git
INSTALL
Makefile
Makefile.in
UnitaryTests/BufferOverflow_SCardGetAttrib
UnitaryTests/BufferOverflow_SCardTransmit
UnitaryTests/SCardBeginTransaction
aclocal.m4
ar-lib
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
doc/Makefile
doc/Makefile.in
doc/api
doc/doxygen.conf
doc/example/.deps/
doc/example/.libs/
doc/example/Makefile
doc/example/Makefile.in
doc/example/pcsc_demo
doc/example/pcsc_demo-pcsc_demo.o
doc/pcscd.8
doc/reader.conf.5
etc/pcscd.service
etc/pcscd.socket
install-sh
libtool
ltmain.sh
m4/Makefile
m4/Makefile.in
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
src/.deps/
src/.libs/
src/Makefile
src/Makefile.in
src/PCSC/pcsclite.h
src/configfile.c
src/cscope.out
src/libpcsclite.la
src/libpcsclite.pc
src/libpcsclite_la-debug.lo
src/libpcsclite_la-error.lo
src/libpcsclite_la-simclist.lo
src/libpcsclite_la-sys_unix.lo
src/libpcsclite_la-utils.lo
src/libpcsclite_la-winscard_clnt.lo
src/libpcsclite_la-winscard_msg.lo
src/pcsc-wirecheck
src/pcsc-wirecheck-dist.c
src/pcsc-wirecheck-dist.o
src/pcsc-wirecheck-gen
src/pcsc-wirecheck-gen.o
src/pcsc-wirecheck-main.o
src/pcscd
src/pcscd-atrhandler.o
src/pcscd-auth.o
src/pcscd-configfile.o
src/pcscd-debuglog.o
src/pcscd-dyn_hpux.o
src/pcscd-dyn_macosx.o
src/pcscd-dyn_unix.o
src/pcscd-eventhandler.o
src/pcscd-hotplug_generic.o
src/pcscd-hotplug_libudev.o
src/pcscd-hotplug_libusb.o
src/pcscd-hotplug_linux.o
src/pcscd-hotplug_macosx.o
src/pcscd-ifdwrapper.o
src/pcscd-pcscdaemon.o
src/pcscd-prothandler.o
src/pcscd-readerfactory.o
src/pcscd-simclist.o
src/pcscd-sys_unix.o
src/pcscd-tokenparser.o
src/pcscd-utils.o
src/pcscd-winscard.o
src/pcscd-winscard_msg.o
src/pcscd-winscard_msg_srv.o
src/pcscd-winscard_svc.o
src/pcscd.h
src/spy/.deps/
src/spy/.libs/
src/spy/libpcscspy.la
src/spy/libpcscspy.lo
src/spy/pcsc-spy.1
src/spy/pcsc-spy.lo
src/tags
src/testpcsc
src/testpcsc.o
src/tokenparser.c
stamp-h1
ylwrap
